html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #121212;
  overflow-x: hidden;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.flex-container {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  flex-direction: column;
  margin-top: 5px;
  padding: 20px;
  border-radius: 12px;
  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.subtitle {
  font-size: 15px;
  color: rgba(177, 177, 177, 0.3);
}

.subtitle-white {
  display: inline-block;
  color: rgba(189, 189, 189, 0.9);
  font-size: 13px;
  text-align: left;
  max-width: 90%;
  word-wrap: break-word;
}

.subtitle-red {
  font-size: 14px;
  color: #ff0033;
  font-weight: 200;
}

input {
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;
  margin-bottom: 30px;
  background: none;
  color: rgba(255, 255, 255, 0.555);
  height: 35px;
  width: 100%;
  max-width: 300px;
}

.submit-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #38d39f70;
  background: #38d39f;
  color: rgba(255, 255, 255, 0.8);
  width: 140px;
  transition: all 1s;
}

.submit-btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: none;
}

.powered-by-btn {
  font-size: 10px;
  color: rgb(134, 134, 134);
  margin-left: 10px;
}

.powered-by-btn a {
  font-size: 10px;
  color: rgb(189, 189, 189);
  padding-bottom: 5px;
}

.powered-by-btn a:hover {
  border-bottom: 2px solid #38d39f;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  .subtitle {
    font-size: 18px;
  }

  .subtitle-white {
    font-size: 16px;
  }

  .subtitle-red {
    font-size: 17px;
  }

  input {
    height: 40px;
  }

  .submit-btn {
    width: 160px;
  }
}

input:focus {
  outline: none;
}
